*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
textarea{
    resize: none;
}
.h1-1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.name{
    text-align: center;
    margin-top: 30px;
}
.h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(150, 136, 136);
}
.komment{
    text-align: center;
}
.end{
    margin-left: 409px;
}
.name .n{
    border: 1px solid rgba(210, 105, 30, 0);
    outline: none !important;
    border-bottom: 2px solid chocolate;
}
.n:focus{
    border: none;
    border-bottom: 1px solid chocolate;
}
.name .f{
    border: 1px solid rgba(210, 105, 30, 0);
    outline: none !important;
    border-bottom: 2px solid chocolate;
}
.name input{
    margin: 20px;
}
.end button{
    border: 1px solid rgba(128, 128, 128, 0);
    color: chocolate;
    background-color: rgba(169, 169, 169, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 120px;
    height: 40px;
}